@font-face {
  font-family: "iconfont";
  /* Project id 2781113 */
  src: url('../font/iconfont.woff2?t=1630477197382') format('woff2'),
    url('../font/iconfont.woff?t=1630477197382') format('woff'),
    url('../font/iconfont.ttf?t=1630477197382') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-world:before {
  content: "\e64a";
}