<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>
        index
    </title>
    <link href="/public/css/login3.css" rel="stylesheet">
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div id="logo">
        <img src="/public/img/logo.png" alt="">
        <h2>尚硅谷管理系统-首页</h2>
    </div>
    <div id="btn_div" style="text-align: center;">
        <a href="register.html">
            <input class="btn btn-primary" id="register" type="button" value="注册">
        </a>
        <a href="login.html">
            <input class="btn btn-primary" id="register" type="button" value="登录">
        </a>
    </div>
</body>

</html>