<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>
        login3
    </title>
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/css/login3.css" rel="stylesheet">
</head>

<body>
    <div id="logo">
        <img src="/public/img/logo.png" alt="">
        <h2>请登录</h2>
    </div>
    <div id="center">
        <form id="myform">
            <div class="input-group">
                <span id="span_username">用户名：</span>
                <input class="form-control" id="username" name="username" type="text" value=""
                    placeholder="只能输入字母或数字，4-16个字符">
            </div>
            <div class="input-group">
                <span id="span_password">密码：</span>
                <input class="form-control" id="password" name="password" type="password" value=""
                    placeholder="密码长度6-12位">
            </div>
            <div id="btn_div">
                <input class="btn btn-primary" type="submit" id="login" value="登录">
                <a href="register.html">
                    <input class="btn btn-primary" id="register" type="button" value="注册">
                </a>
            </div>
        </form>
    </div>
    <div id="bottom">
        <div class="footer" style="color:white;">
            Copyright © 2013-2019 All Rights Reserved. 备案号：
        </div>
    </div>
</body>

</html>